.article__tag {
    color: rgba(0, 0, 0, 0.5)!important;
    border-color: rgba(0, 0, 0, 0.5)!important;
    margin-bottom: 16px;
}

.article__description {
    color: rgba(0, 0, 0, 0.5)!important;
    margin-bottom: 25px;
}

.article__body pre {
    width: 100%;
    white-space: pre-wrap;
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 28px;
}

.article__listItem {
    height: auto!important;
    background-color: white;
}

.listItem__title {
    position: relative;
    display: flex;
    justify-content: space-between;
}

.profile__articleBtn {
    position: absolute;
    bottom: -50px;
    width: 180px;
}

.articleBtn__delete {
    padding: 6px 17px;
    background-color: white;
    border: 1px solid #F5222D;
    box-sizing: border-box;
    border-radius: 5px;
    color: #F5222D;
    margin-right: 12px;
    cursor: pointer;
}

.articleBtn__edit {
    padding: 6px 17px;
    background-color: white;
    border: 1px solid #52C41A;
    box-sizing: border-box;
    border-radius: 5px;
    color: #52C41A;
    cursor: pointer;
}

.article__tag {
    margin-bottom: 16px;
}

#layout {
    position: absolute;
    width: 100%;
    height: 100%;
}

.z-index {
    z-index: 999;
}

.toolTips {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 12px 16px;
    position: absolute;
    left: 82px;
    top: 0;
    width: 204px;
    z-index: 3;
    border-radius: 4px;
    border: none;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.arrow {
    left: -2px;
    position: absolute;
    width: 19px;
    height: 19px;
    transform: rotate(-45deg);
    z-index: 2;
    border: none;
    background-color: white;
}

.toolTips__title {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;

}

.toolTips__img {
    display: flex;
    align-items: flex-start;
    margin-bottom: 12px;
}

.toolTips__img img {
    margin-top: 4px;
    margin-right: 9px;
    z-index: 999;
}

.btn__no {
    padding: 1px 8px;
    border: 1px solid #D9D9D9;
    box-sizing: border-box;
    border-radius: 4px;
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    background-color: white;
    margin-right: 8px;
    cursor: pointer;
}

.btn__yes {
    padding: 1px 8px;
    border: 1px solid #1890FF;
    background: #1890FF;
    box-sizing: border-box;
    border-radius: 4px;
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    cursor: pointer;
    color: white;
}