body {
  margin: 0;
  padding: 0;
  background-color: #EBEEF3!important;
  font-size: 18px;
  line-height: 28px;
  font-family: Inter, sans-serif;
}

@font-face {
  font-family: 'Inter';
  src: local('Inter Regular'), local('Inter-Regular'),
  url('./resourse/Inter-Regular.woff2') format('woff2'),
  url('./resourse/Inter-Regular.woff') format('woff'),
  url('./resourse/Inter-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}